@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    overflow: hidden;
}

body {
    margin: 0%;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-size: 10px;


}


input::placeholder {
    font-family: 'Montserrat';
    color: rgb(117, 112, 112);
}

/*---------------------LADO IZQUIERDO--------------------------------*/

.imagenFondo {
    background-image: url("./bg-main-desktop.png");
    background-repeat: none;
    background-size: cover;
    width: 30vw;
    height: 100vh;
    display: flex;
}


.front {
    background-image: url("bg-card-front.png");
    position: absolute;
    border-radius: 8px;
    width: 350px;
    height: 180px;
    top: 20%;
    left: 15%;
    background-repeat: no-repeat;
    background-size: contain;
}

.back {
    background-image: url("bg-card-back.png");
    position: absolute;
    border-radius: 8px;
    width: 328px;
    height: 180px;
    top: 55%;
    left: 20%;
    background-repeat: no-repeat
        /*----> ESTO ES PARA QUE LA IMAGEN NO SE AUTO-REPLIQUE*/
    ;
    background-size: contain
        /*----> ESTO ES PARA QUE LA IMAGEN SE ADAPTE AL TAMAÑO DEL CONTENEDOR*/
    ;
    box-shadow: 3px 15px 15px rgba(0, 0, 0, 0.1);

}

.inputBack {
    position: absolute;
    top: 44%;
    left: 78%;
    width: 30px;
    margin: 0;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 13px;



}

.inputFront-numero {
    position: absolute;
    top: 50%;
    left: 8%;
    width: 250px;
    height: 30px;
    font-size: 20px;
    background-color: transparent;
    margin: 0;
    border: 0;
    color: white;
}

.inputFront-nombre {
    position: absolute;
    top: 80%;
    left: 8%;
    background-color: transparent;
    margin: 0;
    border: 0;
    font-size: 10px;
    width: 200px;
    color: white;
}

.inputFront-vencimiento {
    position: absolute;
    top: 80%;
    left: 75%;
    font-size: 10px;
    width: 50px;
    background-color: transparent;
    margin: 0;
    border: 0;
    color: white;
}

.logoTarjeta {
    background-image: url("card-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 10%;
    left: 8%;
    width: 70px;
    height: 30px;

}

/*---------------------LADO DERECHO--------------------------------*/

.ladoDer {

    width: 70vw;

    display: flex;

}

.formulario {
    /*background-color: red;*/
    width: 350px;
    height: 400px;
    position: absolute;
    top: 22%;
    left: 60%;
    font-family: 'Montserrat';
    font-size: 10px;
    border-left: 5px;
}

.vencimiento {
    /*background-color: aqua;*/
    display: flex;
    text-align: justify;
    margin: 0%;
    justify-items: center;
    margin-bottom: 10px;
    margin-left: 10px;

}

.datosTarjeta,
.codigoSeguridad {

    margin: 0%;
}

.casillero {
    border-radius: 8px;
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.mesAño {
    border-radius: 8px;
    width: 60px;
    height: 30px;
    border-color: hsl(270, 3%, 87%);
    border-image: none;
    box-shadow: none;





}

.año,
.nombre,
.numero {
    margin-left: 10px;
}



.numeroCodigo {
    border-radius: 8px;
    width: 130px;
    height: 30px;
    margin-left: 20px;

}

.codigo {
    margin-left: 22px;
}



.confirmar {
    font-family: 'Montserrat';
    background-color: hsl(278, 68%, 11%);
    color: white;
    width: 310px;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    border-style: none;
    margin-top: 20px;
    padding: 0;
    margin-left: 10px;
}

.confirmar:hover {
    filter: brightness(80%);
    transition: filter .25s;
}

.confirmar:active {
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.imagenConfirmar {
    background-image: url("icon-complete.svg");
}

/*--------------------VERSION MOBILE---------------------*/

@media (max-width: 400px) {

    .ladoDer,
    .imagenFondo {
        width: 100vw;


    }

    .imagenFondo {
        height: 35vh;
    }

    .container {
        flex-direction: column;

    }

    .front {
        z-index: 10;
        width: 300px;
        height: 130px;
        top: 19%;
        left: 5%;
    }

    .back {
        width: 300px;
        height: 130px;
        top: 5%;
        left: 20%;
    }

    .inputBack {
        left: 62%;
        top: 44%;
    }

    .inputFront-numero {
        font-size: 18px;
        left: 5%;
        color: white;
    }

    .inputFront-nombre {
        color: white;
        left: 5%;
    }

    .inputFront-vencimiento {
        color: white;
        left: 65%;
    }

    .formulario {
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        height: 100%;
        /* background-color: red;*/
    }

}